<!DOCTYPE html>
<html>
  <head>
    <!-- include partial here -->
  </head>
  <body>
    <main>
    <header>
      <!-- include partial here -->
    </header>
      <section class="task-view container">
          <ul id="task-list">
              <!-- EJS code here for main section -->
          </ul>
      </section>
    </main>
  </body>
</html>
