<!DOCTYPE html>
<html>
  <head>
    <!-- include head partial -->
  </head>
  <body>
    <header>
      <!-- include header partial -->
    </header>
    <main>
      <p><%= error %></p>
    </main>
  </body>
</html>
