<!DOCTYPE html>
<html>
  <head>
    <!-- include head partial -->
    <%- include('./layout/head') %>
  </head>
  <body>
    <header>
      <!-- include header partial -->
      <%- include('./layout/header') %>
    </header>
    <main>
      <p><%= error %></p>
    </main>
  </body>
</html>
